@font-face{
    font-family: dragonFont;
    src: url(dragon_alphabet.ttf);
}

body{
    text-align: center;
    letter-spacing: 1px;
    background-image: url(images/5f4e25a0e58dce8864df35d7562417b8.jpg);
    background-color: #F9F9F9; /*white*/
    background-size: 100vw;
    background-attachment: fixed;
    margin-left: calc(-50vw + 50%);
}
header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #495050;
    position: sticky;
    width: 100vw;
}

ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: large;
    top: 0;
    width: 100vw;
    z-index: 2;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
li {
    display: inline-block;
    list-style-type: none;
}
h1{
    font-family: dragonFont;
}
div{
    background-color: #99A3A499; /*light grey*/
    width: 95vw;
    margin: auto;
}
table{
    border-spacing: 20px;
}
th{
    font-family: dragonFont;
}
div.cc{
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #495050;
    color: white;
}
div.container{ 
    text-align: center;
    margin-left: 0vw;
}
pre{
    display: inline-block;
    text-align: left;
}

/*div.table{
    width: 80%; 
    margin: auto;
    display: grid; /\* use grid layout *\/
    grid-template-columns: repeat(2, 1fr); /\* two items per row *\/
    grid-gap: 10px; /\* gap between items *\/
}*/